{% extends "layout.html" %}
{% block content %}

  <h2>Edit Product</h2>
  
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
      {% for error in form.name.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.manufacture_date.label }}
      {{ form.manufacture_date(class="form-control") }}
      {% for error in form.manufacture_date.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.expiry_date.label }}
      {{ form.expiry_date(class="form-control") }}
      {% for error in form.expiry_date.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.rate_per_unit.label }}
      {{ form.rate_per_unit(class="form-control") }}
      {% for error in form.rate_per_unit.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
          {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == form.category.data %}selected{% endif %}>
              {{ category.name }}
            </option>
          {% endfor %}
        </select>
        {% for error in form.category.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
      {{ form.units.label }}
      {{ form.units(class="form-control") }}
      {% for error in form.units.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>

{% endblock %}